<%- include("partials/header.ejs") %>

<main>
    <% if(locals.blogs.length) { %>
        <ul class="blog-list">
            <% blogs.forEach(blog => { %>
                <li class="blog-item">
                    <h3><%= blog %></h3>
                    <form>
                        <button class="button blog-button" type="submit" name="blog-title" value="<%= blog %>" formaction="/view">View</button>
                        <button class="button blog-button" type="submit" name="blog-title" value="<%= blog %>" formaction="/edit">Edit</button>
                        <button class="button blog-button" type="submit" name="blog-title" value="<%= blog %>" formaction="/delete">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>Nothing here for now!</p>
    <% } %>
</main>

<%- include("partials/footer.ejs") %>
