<%- include("partials/header.ejs") %>

<main>
    <% if(locals) { %>
        <h3 class="blog-title"><%= locals["blog-title"] %></h3>

        <pre class="blog-body"><%= locals["blog-body"] %></pre>

        <div class="view-buttons">
            <form action="/">
                <button class="button" type="submit">Home</button>
            </form>

            <form action="/edit">
                <button type="submit" name="blog-title" value= <%= locals["blog-title"] %> >Edit</button>
            </form>
        </div>
    <% }%>
</main>

<%- include("partials/footer.ejs") %>